*{
    font-family: Roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #1e3a8a;
    --dark: #111827;
    --gray: #6b7280;
}

body {
    margin: 0;
    background: #e5e7eb;
    color: var(--dark);
}

/* Input panel */

#editor-panel {
    background: white;
    padding: 2rem;
    border-bottom: 2px solid #ddd;
}

.editor-container {
    max-width: 1000px;
    margin: auto;
}

.editor-container h2 {
    font-size: 1.2rem;
    font-family: monospace;
    color: var(--primary);
    margin-bottom: 30px;
    font-style: italic;
    font-weight: 100;
}
.input-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.full-width {
    grid-column: span 3;
}

input, select, textarea {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.input-label {
    font-size: 12px;
    font-weight: bold;
    color: var(--primary);
}

.print-trigger {
    background: var(--primary);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

/* pdf styling layout */

#pdf-page {
    background: white;
    width: 210mm;
    max-width: 800px;
    min-height: 297mm;
    margin:  auto;
    padding: 20px 40px;
    line-height: 1.25;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--dark);
    padding-bottom: 1rem;
}

.logo {
    height: 60px;
    margin-bottom: 0.5rem;
}

.quote-meta {
    text-align: right;
}

.quote-meta h1 {
    margin: 0;
    color: var(--primary);
    font-size: 32px;
}

.info-split {
    margin: 2rem 0;
}

.label {
    color: var(--gray);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.value {
    font-size: 15px;
    font-weight: 600;
    color: var(--dark);
}

.items-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.items-table th {
    background: #f3f4f6;
    padding: 5px 8px;
    font-size: 13px;
    text-align: left;
    border: 1px solid #000;
}

.items-table th:nth-child(1) { width: 50%; }
.items-table th:nth-child(2) { width: 10%; } 
.items-table th:nth-child(3) { width: 15%; } 
.items-table th:nth-child(4) { width: 10%; } 
.items-table th:nth-child(5) { width: 14%; } 

.items-table td {
    padding: 5px 8px;
    font-size: 13px;
    border: 1px solid #000;
    vertical-align: top;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 10px;
    align-items: start;
}




.calculation-area {
    background: #f9fafb;
    padding: 1.5rem;
    border-radius: 8px;
}

.calc-row {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border-top: 2px solid #ddd;
    font-weight: bold;
    font-size: 15px;
    color: var(--dark);
}


.signature-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

}

.sig-box {
    position: relative;
    margin-top: 60px;
    padding-right: 20px;
    width: 250px;
    margin-left: auto;
    border-top: 1px solid #000;
    width: 200px;
    font-size: 12px;
}

.company-stamp {
    position: absolute;
    top: -100px;
    right: 10px;
    width: 120px;
    opacity: 0.85;
    pointer-events: none;
    z-index: 1;
}

@media print {
    .no-print {
        display: none !important;
    }

    body {
        background: white;
        margin: 0 !important;
        padding: 0 !important;
    }

    #pdf-page {
        margin: 0;
        box-shadow: none;
        width: 100%;
        border: none;
        display: block;
        position: static;
        transform: scale(1) !important;
    }

    .items-table {
        page-break-inside: avoid;
    }

    .bottom-grid, footer, .signature-section {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    .company-stamp {
        max-width: 120px !important;
        height: auto !important;
        position: absolute !important;
    }
    
    @page {
        size: A4;
        margin: 0.5cm;

    }

}

@media screen and (max-width: 768px) {

    #editor-panel {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        border-radius: 0;
        height: auto;
        box-shadow: none;
    }


    #pdf-page {
        margin-left: 0;
        margin-top: 20px;
        width: 800px; 
        min-height: 1120px;
        padding: 40px;
        transform: scale(0.45); 
        transform-origin: top left;
        box-shadow: none;
        position: absolute; 
    }

    body {
        display: block;
        overflow-x: hidden;
        background: #f3f4f6;
    }

.signature-section {
    page-break-inside: avoid; 
    break-inside: avoid;
    margin-top: 40px;
}

.company-stamp {
    max-width: 120px;
    height: auto; 
    object-fit: contain;
}
}


.text-para {
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
}

.bank-details {
    padding: 8px;
    font-size: 13px;
    background-color: #fcfcfc;
    border: 1px solid #eee;
    border-radius: 4px;
}

.footer-terms {
    font-size: 9px;
    color: #666;
    text-align: left;
    line-height: 1.4;
}

footer {
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid #eee;
}
